.bg-explore {
    background: #F4FAFD;
}

.overlay {
    filter: brightness(50%);
}


@media only screen and (max-width:768px) {
    .c-image {
        height: 330px;
    }

    .c-h5 {
        font-size: 30px;
    }


}

@media only screen and (max-width:576px) {
    .information {
        flex-wrap: wrap;
    }




}